.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: left;
}

.rating>input {
    display: none;
}

.rating>label {
    display: inline-block;
    position: relative;
    width: 1.1em;
    font-size: 2em;
    color: #aaa;
}

.rating>label:hover,
.rating>label:hover~label,
.rating>input:checked~label {
    color: #e3cf7a;
}

#userInfo {
    display: inline-block;
    margin-right: 10px;
}

#logoutBtn {
    display: inline-block;
}